h1 {
    color: #110019;
    font-size: 50px;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    flex-flow: column;
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #10182f;
}