.progress-bar {
    width: 80%;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    padding: 3px;
    height: 40px;
    margin: 0 auto;
}

.progress-bar-fill {
    display: block;
    height: 40px;
    background-color: #e36a36;
    border-radius: 5px;
    transition: width .2s ease-in;
}