:root {
    --jub-lilla: #662d91;
    --jub-oransje: #e36a36;
    --hvit: #f4f4f4;
    --grå: #333;
    --deeppink: #FF407D;
    --deepblue: #0C359E;
    --skyblue: #40A2E3;
    --teal: #33BBC5;
    --bebiblå: #78C1F3;
    --bebirosa: #FF9EAA;
  }


.progress-bar {
    width: 80%;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    padding: 3px;
    height: 40px;
    margin: 0 auto;
}

.progress-bar-fill {
    display: block;
    height: 40px;
    background-color: var(--bebiblå);
    border-radius: 5px;
    transition: width .2s ease-in;
}