hr {
    height: 1.5px;
    margin: 2em auto;
    color: #333;
    background-color: #333;
    border: none;
    width: 80%;
    align-items: center;
}

.section {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    /*box-shadow: 0 2px 4px rgba(0.1, 0, 0, 0.1);*/
    margin-right: 30px;
}

h2 {
    font-size: 30px;
    color: #333;
    text-align: left;
    margin-left: 40px;
    float: left;
}

img {
    float: left;
    width: 200px;
    margin-left: 20px;
    margin-right: 40px;
}

.innhold {
    float: left;
    padding-left: 40px;
}

li {
    font-size: 20px;
    color: #333;
    text-align: left;
    margin-left: 40px;
    display: list-item;
}
li i {
    display: block;
    font-style: normal;
    line-height: 1.8;
}

@media (max-width: 600px) {
    .section {
        flex-direction: column;
        margin-right: 0;
    }
    h1 {
        font-size: 35px;
        display: none;
    }


    h2 {
        font-size: 24px;
        margin-left: 20px;
        float: none;
        margin-right: 20px !important;
    }

    img {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .innhold {
        float: none;
        padding-left: 20px;
    }

    li {
        font-size: 16px;
        margin-left: 20px;
    }
    .responsive-hr {
    display: none;
    }
}