<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beermile-betting</title>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!--ikoner-->
    <script src="https://kit.fontawesome.com/c110f170bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <!--CSS-->
    <link rel="stylesheet" href="../css/beermile.css">
</head>
<body>
    <div id="header">
        <h1>Beermile-betting</h1>
    </div>
    <div id="header" style="background-color: var(--hvit);">
        <p style="font-family: 'Roboto', sans-serif; font-size: 30px; color: black;">Her kan du bette på årets Beermile! Pris for å bette er <span style="font-weight: bold;">30kr</span>.</p>
        <p style="font-family: 'Roboto', sans-serif; font-size: 25px; color: black; font-weight: bold;">Kategoriene er:</p>
        <ul style="list-style-type: disc; padding: 0;">
            <li style="font-family: 'Roboto', sans-serif; font-size: 20px; color: var(--jub-lilla); font-weight: bold;" >Hvilken gutt som vinner</li>
            <li style="font-family: 'Roboto', sans-serif; font-size: 20px; color: var(--jub-lilla); font-weight: bold;">Hvilken jente som vinner</li>
            <li style="font-family: 'Roboto', sans-serif; font-size: 20px; color: var(--jub-lilla); font-weight: bold;">Hvem som spyr først</li>
        </ul>
    </div>
    <nav>
        <button id="boysBtn" style="background-color: var(--bebiblå);">Gutter</button>
        <button id="girlsBtn" style="background-color: var(--bebirosa);">Jenter</button>
    </nav>
    <div id="content">
        <div class="column">
            <div id="personBtnsContainer" class="personBtnsContainer"></div>
            <div id="personCardContainer" class="personCardContainer"></div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="../js/firebaseConfig.js"></script>
    <script src="../js/beermile.js"></script>
    <script src="../js/beermilebet.js"></script>
    <script src="../js/votes.js"></script>
</body>
</html>