<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vandrebar</title>
    <script src="https://kit.fontawesome.com/c110f170bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/kielder.css">

<style>
    body {
        font-family: 'Josefin Sans', sans-serif;
        box-sizing: border-box;
        background-color: #0C359E;
        margin: auto;
    }
</style>
</head>
<body>
    <h1>Hei Kielder <i class="fa-solid fa-heart" style="color: #FF407D;"></i><span style="font-size: 30px;"><br>Dere er best! Keep slaying!</span></h1>
    <br>
    <button class="header-button" id="sellBongBtn"><p>Kjøhh vandrebar</p></button> 
    
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="../js/firebaseConfig.js"></script>
    <script src="../js/kielder.js"></script>
</body>
</html>